# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

tdGptAddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
tdGptAddon.application-context=tdGptAddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.tdGptAddon=classpath:/tdGptAddon/web/spring/tdGptAddon-web-spring.xml



tdGptAddon.javascript.paths.responsive=/responsive/common/js/tdGptAddon.js
tdGptAddon.css.paths.responsive=/responsive/common/css/tdGptAddon.css
